/* custom styles */

#value_105_pflanzen_0 > * :focus {
/*  outline-color: red;*/
  -webkit-box-shadow: 0px 0px 1px 3px blue;
  -moz-box-shadow: 0px 0px 1px 3px blue;
  box-shadow: 0px 0px 1px 3px blue;
}

#neuer_datensatz_button {
	display: block;
	position: relative;
	text-align: right;
	margin-right: 8px;
}

.message-box-msg {
	text-align: left;
}

.pointer:hover {
	color: #993333;
	cursor: pointer;
}

#geo_name_search_field {
  width: 100%;
}

#search_div {
  display: none;
}

#openLayerParamBarIcon{
	width: 16px; 
	height: 16px; 
	padding: 5px; 
	font-size: 1.1em;
	margin: 0 5px 0 5px;
}

.gle_attribute_value {
	min-width: 75px;
}

#datensatz :focus, #datensatz .buttonlink:focus, #datensatz a:focus{
	outline: 3px solid orange;
}