/* custom styles */

.switch-gle-view-columns {
	display: none;
}

.copy_dataset {
	display: none;
}

.dringlichkeit-1 {
	background-color: #ddddff;
}

.dringlichkeit-1 a {
	color: blue;
}

.dringlichkeit-2 {
	background-color: #ddddff;
}

.dringlichkeit-2 a {
	color: blue;
}

.dringlichkeit-3 {
	background-color: #FFEBCE;
}

.dringlichkeit-3 a {
	color: #e89a00;
}

.dringlichkeit-4 {
	background-color: #ffdddd;
}

.dringlichkeit-4 a {
	color: #ff0000;
}

.dringlichkeit-5 {
	background-color: #deffdc;
}

.dringlichkeit-5 a {
	color: #018b1e;
}

.status-ready {
	background-color: #eeeeee;
}

.status-ready a {
	font-weight: 600;
	font-size: 23px;
	border: #dae4ec;
	color: gray;
}


#value_105_pflanzen_0 > * :focus {
/*  outline-color: red;*/
  -webkit-box-shadow: 0px 0px 1px 3px blue;
  -moz-box-shadow: 0px 0px 1px 3px blue;
  box-shadow: 0px 0px 1px 3px blue;
}

#autofeld_zweispaltig_auswahl_und_suggest_div input{
	width: 500px;
}

#name_106_alternative_name_-1, #value_106_alternative_name_-1 {
	display: none;
}

#value_106_dzv_-1 .subform_106 {
	width: 33px !important;
}

#neuer_datensatz_button {
	display: block;
	position: relative;
	text-align: right;
	margin-right: 8px;
}

.pointer:hover {
	color: #993333;
	cursor: pointer;
}

#geo_name_search_field {
  width: 100%;
}

#search_div {
  display: none;
}

#openLayerParamBarIcon{
	width: 16px; 
	height: 16px; 
	padding: 5px; 
	font-size: 1.1em;
	margin: 0 5px 0 5px;
}

.gle_attribute_value {
	min-width: 75px;
}

#datensatz :focus, #datensatz .buttonlink:focus, #datensatz a:focus{
	outline: 3px solid orange;
}

.datensatz {
	width: 100%;
}

.pflanzen_f{
	background: green;
}

.pflanzen_m{
	background: tomato;
}

.pflanzen_s{
	background: lightgreen;
}

.pflanzen_s input{
	font-family: 'SourceSansPro2';
}

#sachdatendruck_table_105 select[name=aktivesLayout] {
	pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
	border: none;
	background-color: transparent;
	font-size: 20;
	margin-left: -4px;
}

#sachdatendruck_title_105 {
	display: none;
}